@page "/"

<PageTitle>Index</PageTitle>

<!-- Hero Section Begin -->
<section class="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__item set-bg" data-setbg="client/img/hero/hero-1.jpg">
        </div>
        <div class="hero__item set-bg" data-setbg="client/img/hero/hero-2.jpg">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="hero__text">
                            <h2>Khuyến Mãi Mỗi Tuần</h2>
                            <a href="#" class="primary-btn">Đặt món ngay!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="text-uppercase mt-5">Sản phẩm mới nhất</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg">
                        <a href="detailproduct">
                            <img src="client/img/shop/product-4.jpg" />
                        </a>
                        
                        <div class="product__label">
                            <span>Cupcake</span>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="detailproduct">Dozen Cupcakes</a></h6>
                        <div class="product__item__price">$32.00</div>
                        <div class="cart_add">
                            <a href="cart">Thêm vào giỏ</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg">
                        <a href="detailproduct">
                            <img src="client/img/shop/product-4.jpg" />
                        </a>

                        <div class="product__label">
                            <span>Cupcake</span>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="detailproduct">Dozen Cupcakes</a></h6>
                        <div class="product__item__price">$32.00</div>
                        <div class="cart_add">
                            <a href="cart">Thêm vào giỏ</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg">
                        <a href="detailproduct">
                            <img src="client/img/shop/product-4.jpg" />
                        </a>

                        <div class="product__label">
                            <span>Cupcake</span>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="detailproduct">Dozen Cupcakes</a></h6>
                        <div class="product__item__price">$32.00</div>
                        <div class="cart_add">
                            <a href="cart">Thêm vào giỏ</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg">
                        <a href="detailproduct">
                            <img src="client/img/shop/product-4.jpg" />
                        </a>

                        <div class="product__label">
                            <span>Cupcake</span>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="detailproduct">Dozen Cupcakes</a></h6>
                        <div class="product__item__price">$32.00</div>
                        <div class="cart_add">
                            <a href="cart">Thêm vào giỏ</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg">
                        <a href="detailproduct">
                            <img src="client/img/shop/product-4.jpg" />
                        </a>

                        <div class="product__label">
                            <span>Cupcake</span>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="detailproduct">Dozen Cupcakes</a></h6>
                        <div class="product__item__price">$32.00</div>
                        <div class="cart_add">
                            <a href="cart">Thêm vào giỏ</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg">
                        <a href="detailproduct">
                            <img src="client/img/shop/product-4.jpg" />
                        </a>

                        <div class="product__label">
                            <span>Cupcake</span>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="detailproduct">Dozen Cupcakes</a></h6>
                        <div class="product__item__price">$32.00</div>
                        <div class="cart_add">
                            <a href="cart">Thêm vào giỏ</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg">
                        <a href="detailproduct">
                            <img src="client/img/shop/product-4.jpg" />
                        </a>

                        <div class="product__label">
                            <span>Cupcake</span>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="detailproduct">Dozen Cupcakes</a></h6>
                        <div class="product__item__price">$32.00</div>
                        <div class="cart_add">
                            <a href="cart">Thêm vào giỏ</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg">
                        <a href="detailproduct">
                            <img src="client/img/shop/product-4.jpg" />
                        </a>

                        <div class="product__label">
                            <span>Cupcake</span>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="detailproduct">Dozen Cupcakes</a></h6>
                        <div class="product__item__price">$32.00</div>
                        <div class="cart_add">
                            <a href="cart">Thêm vào giỏ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->


<!-- Testimonial Section Begin -->
<section class="testimonial spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <span>Đánh giá của khách hàng</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="testimonial__slider owl-carousel">
                <div class="col-lg-6">
                    <div class="testimonial__item">
                        <div class="testimonial__author">
                            <div class="testimonial__author__text">
                                <h5>Kerry D.Silva</h5>
                                <span>New york</span>
                            </div>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua viverra lacus vel facilisis.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial__item">
                        <div class="testimonial__author">
                            <div class="testimonial__author__text">
                                <h5>Kerry D.Silva</h5>
                                <span>New york</span>
                            </div>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua viverra lacus vel facilisis.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial__item">
                        <div class="testimonial__author">
                            <div class="testimonial__author__text">
                                <h5>Ophelia Nunez</h5>
                                <span>London</span>
                            </div>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua viverra lacus vel facilisis.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial__item">
                        <div class="testimonial__author">
                            <div class="testimonial__author__text">
                                <h5>Kerry D.Silva</h5>
                                <span>New york</span>
                            </div>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua viverra lacus vel facilisis.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial__item">
                        <div class="testimonial__author">
                            <div class="testimonial__author__text">
                                <h5>Ophelia Nunez</h5>
                                <span>London</span>
                            </div>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua viverra lacus vel facilisis.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial__item">
                        <div class="testimonial__author">
                            <div class="testimonial__author__text">
                                <h5>Kerry D.Silva</h5>
                                <span>New york</span>
                            </div>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua viverra lacus vel facilisis.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Section End -->
<!-- Map Begin -->
<div class="map">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-7">
                <div class="map__inner">
                    <h6>COlorado</h6>
                    <ul>
                        <li>1000 Lakepoint Dr, Frisco, CO 80443, USA</li>
                        <li>Sweetcake@support.com</li>
                        <li>+1 800-786-1000</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="map__iframe">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10784.188505644011!2d19.053119335158936!3d47.48899529453826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1543907528304"
                height="300" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div>
<!-- Map End -->
