@layout AdminLayout
@page "/Account"
<div class="col-md-12">
    <div class="card card-statistics">
        <div class="card-header">
            <div class="card-heading">
                <h4 class="card-title">Account</h4>
                <button type="button" class="btn btn-primary float-right">Add</button>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered mb-0">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Full Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Avatar</th>
                            <th scope="col">Address</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Mark</td>
                            <td>email@gmail.com</td>
                            <td>User</td>
                            <td>0123456789</td>
                            <td><img src="1" alt="1" height="150px" width="150px"></td>
                            <td>Mark</td>
                            <td>
                                <a href="CrudAccount"><button type="button" class="btn btn-sm btn-warning">Edit</button></a>
                                
                                <button type="button" class="btn btn-sm btn-danger">Delete</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@code {

}
