@layout AdminLayout
@page "/CrudAccount"
<div class="col-md-12">
    <div class="card card-statistics">
        <div class="card-header">
            <div class="card-heading">
                <h4 class="card-title">Account</h4>
            </div>
        </div>
        <div class="card-body">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Name</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Full Name</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user-circle"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Full Name">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                            </div>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Password</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-lock"></i></span>
                            </div>
                            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-globe"></i></span>
                        </div>
                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputRole">Role</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                        <input readonly type="text" class="form-control" id="inputRole" placeholder="Role">
                    </div>
                </div>
                <div class="form-group">
                    <img src="#" alt="#">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                </div>
                <div class="card-heading">
                    <label class="card-title">DateCreate</label>
                </div>
                <div class="input-group date display-years form-group" data-date-format="dd-mm-yyyy" data-date="14-06-2018">
                    <input readonly class="form-control" type="text" placeholder="12-12-2018">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
                <div class="card-heading">
                    <label class="card-title">DateUpdate</label>
                </div>
                <div class="input-group date display-years form-group" data-date-format="dd-mm-yyyy" data-date="14-06-2018">
                    <input class="form-control" type="text" placeholder="12-12-2018">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>

@code {

}
