@page "/userinfo"

<div class="row mt-5">
    <div class="col-lg-5 mx-auto">
        <div class="class__form">
            <div class="section-title">
                <h2 class="text-center">Thông tin người dùng</h2>
            </div>
            <form action="#">
                <input type="text" placeholder="Họ và Tên">
                <input type="text" placeholder="Email">
                <input type="text" placeholder="Số Điện Thoại">
                <input type="text" placeholder="Địa Chỉ">
                <button type="submit" class="site-btn">Lưu Thay Đổi</button>
            </form>
        </div>
    </div>
</div>


@code {

}