@inherits LayoutComponentBase

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>FastFood Store</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="admin/assets/css/app.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="admin/assets/css/style.css">
    <link rel="stylesheet" href="admin/assets/css/components.css">
    <link rel="stylesheet" href="admin/assets/bundles/pretty-checkbox/pretty-checkbox.min.css">
    <link rel="stylesheet" href="admin/assets/css/components.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="admin/assets/css/custom.css">

</head>

<body>
    <div class="loader2"></div>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            @* Navbar left *@
            <nav class="navbar navbar-expand-lg main-navbar sticky">
                <div class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li>
                            <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg collapse-btn"> <i data-feather="align-justify"></i></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link nav-link-lg fullscreen-btn">
                                <i data-feather="maximize"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown"
                           class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                            <img alt="image" src=""
                                 class="user-img-radious-style"> <span class="d-sm-none d-lg-inline-block"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right pullDown">
                            <div class="dropdown-title">Hello Admin</div>
                        </div>
                    </li>
                </ul>
            </nav>

            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="#">
                            <span class="logo-name">FastFood Store</span>
                        </a>
                    </div>
                    <ul class="sidebar-menu">
                        <li class="menu-header">Danh mục </li>

                        <li><a class="nav-link" href="#"><i data-feather="package"></i><span>Quản Lí Sản Phẩm</span></a></li>
                        <li><a class="nav-link" href="#"><i data-feather="list"></i><span>Quản Lí Loại Sản Phẩm</span></a></li>
                        <li><a class="nav-link" href="#"><i data-feather="shopping-bag"></i><span>Quản Lí Đơn Hàng</span></a></li>
                        <li class="dropdown">
                            <a href="#" class="menu-toggle nav-link has-dropdown">
                                <i data-feather="shopping-bag"></i><span>Quản Lí Người Dùng</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" href="#"><i data-feather="users"></i><span>Quản Lí Người Dùng</span></a></li>
                                <li><a class="nav-link" href="#"><i data-feather="users"></i><span>Vai Trò</span></a></li>
                                <li><a class="nav-link" href="#"><i data-feather="users"></i><span>Quản Lí Vai Trò</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </aside>
            </div>
            <!-- Main Content -->
            <div class="main-content">
                <section class="section">
                    @Body
                </section>

            </div>
        </div>
    </div>
    <!-- General JS Scripts -->
    <script src="admin/assets/js/app.min.js"></script>
    <!-- JS Libraies -->
    <script src="admin/assets/bundles/apexcharts/apexcharts.min.js"></script>
    <!-- Page Specific JS File -->
    <script src="admin/assets/js/page/index.js"></script>
    <!-- Template JS File -->
    <script src="admin/assets/js/scripts.js"></script>
    <!-- Custom JS File -->
    <script src="admin/assets/js/custom.js"></script>
</body>
</html>