@layout AdminLayout
@page "/products"
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<!-- begin row -->
<div class="row">
    <div class="col-md-12 m-b-30">
        <!-- begin page title -->
        <div class="d-block d-sm-flex flex-nowrap align-items-center">
            <div class="page-title mb-2 mb-sm-0">
                <h1>Quản lí Sản Phẩm</h1>
            </div>
        </div>
        <!-- end page title -->
    </div>
</div>
<!-- end row -->
<!-- begin row -->
<div class="row editable-wrapper">
    <div class="col-lg-12 ">
        <div class="card card-statistics">
            
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <a href="addproduct" class="tabledit-edit-button btn btn-success">
                            <span><i class="dashicons dashicons-plus-light"></i></span> Thêm
                        </a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table display responsive nowrap table-light table-bordered">
                        <thead class="thead-light text-center">
                            <tr>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Image</th>
                                <th>Description</th>
                                <th>Trạng Thái</th>
                                <th>Combo</th>
                                <th>Thao Tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center">
                                <td>T-SHIRT CONTRAST POCKET</td>
                                <td>$98.49</td>
                                <td>10</td>
                                <td>
                                    <img src="/admin/assets/img/product-1.jpg" width="70" alt="Product Image" />
                                </td>
                                <td>
                                   Ngon như mẹ nấu
                                </td>
                                <td>
                                    <span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-danger">Hết Hàng</span>
                                </td>
                                <td>
                                    <span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-danger">Không</span>
                                </td>
                                <td>
                                    <a href="editproduct" class="tabledit-edit-button btn btn-sm btn-primary">
                                        <span><i class="dashicons dashicons-admin-customizer"></i></span> Sửa
                                    </a>
                                </td>
                            </tr>
                            <tr class="text-center">
                                <td>T-SHIRT CONTRAST POCKET</td>
                                <td>$98.49</td>
                                <td>10</td>
                                <td>
                                    <img src="/admin/assets/img/product-2.jpg" width="70" alt="Product Image" class="product-image" />
                                </td>
                                <td>
                                    Ngon như Boy money
                                </td>
                                <td>
                                    <span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-success">Còn Hàng</span>
                                </td>
                                <td>
                                    <span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-success">Có</span>
                                </td>
                                <td>
                                    <a href="editproduct" class="tabledit-edit-button btn btn-sm btn-primary">
                                        <span><i class="dashicons dashicons-admin-customizer"></i></span> Sửa
                                    </a>

                                </td>
                            </tr>
                            <tr class="text-center">
                                <td>T-SHIRT CONTRAST POCKET</td>
                                <td>$98.49</td>
                                <td>10</td>
                                <td>
                                    <img src="/admin/assets/img/product-6.jpg" width="70" alt="Product Image" class="product-image" />
                                </td>
                                <td>
                                    Ngon
                                </td>
                                <td>
                                    <span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-success">Còn Hàng</span>
                                </td>
                                <td>
                                    <span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-danger">Không</span>
                                </td>
                                <td>
                                    <a href="editproduct" class="tabledit-edit-button btn btn-sm btn-primary">
                                        <span><i class="dashicons dashicons-admin-customizer"></i></span> Sửa
                                    </a>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
@code {

}
